<nav class="navbar">
  <div class="logo">TRILHEIROS <span>NA PEDRA</span></div>
  <button class="menu-toggle" aria-label="Abrir menu" aria-expanded="false">
    <span class="material-symbols-outlined">menu</span>
  </button>
  <div class="container-links">
    <ul class="nav-links">
      <li><a href="/index.html">Início</a></li>
      <li><a href="/pages/trilhas.html">Trilhas</a></li>
      <li><a href="/src/pages/dicas.html">Dicas</a></li>
      <li><a href="/src/pages/galeria.html">Galeria</a></li>
    </ul>
    <button class="btn-inscreva">Inscreva-se</button>
  </div>
</nav>
