<nav class="navbar">
  <div class="logo">TRILHEIROS <span>NA PEDRA</span></div>
  <button class="menu-toggle" aria-label="Abrir menu" aria-expanded="false">
    <span class="material-symbols-outlined">menu</span>
  </button>
  <div class="container-links">
    <ul class="nav-links">
      <li><a href="/index.html">Início</a></li>
      <li><a href="/src/pages/trilhas/trilhas.html">Trilhas</a></li>
      <li><a href="/src/pages/dicas/dicas.html">Dicas</a></li>
      <li><a href="/src/pages/galeria/galeria.html">Galeria</a></li>
    </ul>
    <button class="btn-inscreva" type="button"><a href="/src/pages/form-inscricao/inscricao.html" class="btn-inscrever">Inscreva-se</a> </button>
  </div>
</nav>
